body {
    font-family: sans-serif;
}

div a {
    margin: 50px;
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
}

h1 {
    text-align: center;
    font-size: 40px;
}

main img {
    border-left: 8px dotted black;
    margin: 46px;
}

main p {
    border: 5px solid black;
    border-radius: 54px;
    padding: 20px;
    font-size: 24px;
}

footer p {
    background-color: white;
    font-size: 20px;
    padding: 6px;
}
footer {
    background-color: black;
    padding: 6px;
}
